.main div {
  float: left;
  clear: none;
}

.navigation {
  color: #ffffff;
  background: #30027a;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

.link-style {
  margin-left: auto;
  text-decoration: none;
  padding: 0 4rem;
  font-size: 20px;
}
.list {
  list-style: none;
}
.row-style {
  padding: 0px;
  margin: 0px;
}

.QR-block-style {
  background-color: #350581;
}

.border-style {
  border-color: yellowgreen;
}

.scan-header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 38px;
  margin-left: 10px;
  line-height: 50px;

  color: #fff;
}
.nav-headers {
  font-family: "Inter";
  font-weight: 400;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}

.how-to-play-bg {
  background: #42158a;
}

.app-features-image {
  position: absolute;
  width: 410px;
  height: 800px;
  left: 100px;
  background: url(images/player1.png);
}

.feature-symbol {
  width: 70px;
  height: 50px;
  margin-right: 25px;
}

.feature-text {
  width: 263px;
  height: 31px;
}
.btn-primary {
  background: linear-gradient(180deg, #08d104 0%, #03a458 100%) !important;
  border-radius: 7px !important;
}

.term > dt {
  margin-bottom: 1rem;
}

dt {
  color: #117468;
  line-height: 1;
}

dt span {
  font-size: 200%;
  font-weight: 900;
}

.emoji {
  margin: 0 auto 20px;
  display: block;
  font-size: 400%;
}

dd {
  font-size: 92.5%;
  margin-left: 0;
}

dd dt {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: inherit;
}

dd dl {
  font-size: 90%;
  margin: 1rem auto 0 auto;
  letter-spacing: 0.33px;
  max-width: 15rem;
}

dd dl .term {
  margin-bottom: 1rem;
}
.dictionary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem auto;
  max-width: 90%;
}

.dictionary > .term {
  text-align: center;
  max-width: 20rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 100ms ease-in-out;
}

.user-heading {
  font-weight: 900;
  font-size: 500%;
  text-align: center;
  margin-top: 4rem;
  color: #fff;
  line-height: 1.2;
}

.user-heading > span {
  padding: 5px 15px;
  background: #2ec2b0;
}

.faq-data {
  position: absolute;
  width: 1400px;
  height: 360px;
  top: 2430px;
  padding: "10px";

  background: #4c31f5;
}

.collapsible {
  background-color: #eee;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #aba7b6;
}

.link :hover{
  color: #08d104;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #000000;
}

.footer-data {
  background-color: #000000;
  color: silver;
  text-align: center;
}
footer {
  background-color: #000000;
}
